@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.glowing-button {
    display: inline-block;
    background-color: #3F51B5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.glowing-button:hover {
    box-shadow: 0 0 15px #3F51B5;
}

.inner-shadow {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

:deep(.el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path){
    color: #3F51B5;
}

:deep(.el-date-range-picker .el-picker-panel__body ){
    @media (max-width: 768px) {
        width: 323px !important;
    }
}

:deep(.el-date-range-picker__editors-wrap) {
    @media (max-width: 768px) {
        display: flex !important;
    }
}

:deep(.el-date-range-picker__content) {
    @media (max-width: 768px) {
        width: 100% !important;
    }
}

:deep(.el-picker-panel [slot=sidebar], .el-picker-panel__sidebar) {
    width: 70px !important;
}

:deep(.el-picker-panel [slot=sidebar]+.el-picker-panel__body, .el-picker-panel__sidebar+.el-picker-panel__body) {
    margin-left: 70px !important;
}

:deep(.el-date-range-picker) {
    width: 393px !important;
}

.smiley-sans {
    font-family: SmileySans, sans-serif;
}