@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #151c2b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --el-color-primary: #3F51B5 !important;
  --el-color-primary-light-3: #757de8 !important;
  --el-menu-text-color: #ffffff !important;
  /*--el-text-color-regular: #fafafa !important;*/
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* 定制滚动条的宽度和颜色 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #17202e;
}

::-webkit-scrollbar-thumb {
  background-color: #5c6678;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a859b;
}


/*@font-face {*/
/*  font-family: 'SmileySans'; // 根据自己用的去重命名字体名*/
/*  src: url('@/assets/SmileySans-Oblique.otf.woff2') format('truetype');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/