@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #151c2b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --el-color-primary: #3F51B5 !important;
  --el-color-primary-light-3: #757de8 !important;
  --el-menu-text-color: #ffffff !important;

  .el-date-editor {
    --el-date-editor-datetimerange-width: 100%;
  }
  .el-picker-panel__sidebar {
    @media (max-width: 768px) {
      width: 70px;
    }
  }

  .el-date-range-picker__time-header {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  .el-date-range-picker.has-sidebar {
    @media (max-width: 768px) {
      width: 360px;
    }
  }

  .el-picker-panel [slot=sidebar]+.el-picker-panel__body, .el-picker-panel__sidebar+.el-picker-panel__body{
    @media (max-width: 762px) {
      margin-left: 70px;
      width: 380px;
      display: flex;
      flex-direction: column;
    }
  }

  .el-date-range-picker__time-header {
    @media (max-width: 762px) {
      width: 280px;
    }

  }

  .el-date-range-picker__content {
    @media (max-width: 768px) {
      width: 300px;
    }
  }

  .el-popper.is-customized {
    /* Set padding to ensure the height is 32px */
    padding: 6px 12px;
    background: linear-gradient(90deg, rgb(159, 229, 151), rgb(204, 229, 129));
    color: #fff;
  }

  .el-popper.is-customized .el-popper__arrow::before {
    background: linear-gradient(45deg, #b2e68d, #bce689);
    right: 0;
  }
}

@font-face {
  font-family: 'SmileySans';
  src: url('@/assets/font/SmileySans-Oblique.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* 定制滚动条的宽度和颜色 */
/*::-webkit-scrollbar {*/
/*  width: 10px;*/
/*  height: 10px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*  background-color: #17202e;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*  background-color: #5c6678;*/
/*  border-radius: 5px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*  background-color: #7a859b;*/
/*}*/


